<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>temperature_result2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "main">
    <div class="line-4"></div>
    <div class="div">!</div>
    <img
      class="dog-8659097-1280-removebg-preview-4"
      src="assets/login_dog.png"
    />
    <div class="div2">
      체온 계산
      <br />
      결과
    </div>
    <div class="rectangle-15"></div>
    <div class="div3">우리 아이는</div>
    <div class="div4">
      적정 체온보다
      <br />
      조금 낮아요!
      <br />
    </div>
    <div class="div5">
      담요나 이불 등을 통해
      <br />
      체온 손실을 막아주신 뒤,
      <br />
      담요 위로 드라이기 바람을
      <br />
      쐬어 주시는 것
      <br />
      이 체온을 높이는데 효과적입니다.
      <br />
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>  

</ion-content>
