<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bmi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <div class="line-4"></div>
  <div class="line-5"></div>
  <div class="div">?</div>
  <div class="title">
    비만도 계산기
    <br />
    <br />
  </div>
  <img class="dog" src="assets/login_dog.png" />
  <img class="dog-paw" src="assets/dogPaw.png" />

  <img class="image-container1" src="assets/image 1.png" (click)="goToResult1()" />
  <img class="image-container2" src="assets/image 2.png" (click)="goToResult2()" />
  <img class="image-container3" src="assets/image 3.png" (click)="goToResult3()" />
  <img class="image-container4" src="assets/image 4.png" (click)="goToResult4()" />
  <img class="image-container5" src="assets/image 5.png" (click)="goToResult5()" />
</ion-content>
