<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>moment_result3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
    <div class="line-4"></div>
    <div class="div">
      <span>
        <span class="div-span">
          운동량 계산
          <br />
          결과
          <br />
        </span>
        <span class="div-span2"><br /></span>
      </span>
    </div>
    <div class="div2">!</div>
    <img
      class="dog-8659097-1280-removebg-preview-4"
      src="assets/login_dog.png"
    />
    <div class="rectangle"></div>
    <div class="_1-30-2">
      1시간 30분 ~ 2시간 정도의
      <br />
      운동이 권장하며,
      <br />
      많은 양의 운동이 필요합니다.
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />
    <div class="text-1">
      우리 아이의
      <br />
      1일 권장 운동량은
    </div>
    <div class="text-2">
      운동량은 개체별 성격, 건강 상태, 나이
      <br />
      등에 따라 달라질 수 있으므로,
      <br />
      이를 고려하여 적절히 조절하는 것이
      <br />
      좋습니다.
    </div>

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>

  
</ion-content>
