<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="main">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-input class="id" [(ngModel)]="username" name="username" type="text" required></ion-input>
    <ion-input class="password" [(ngModel)]="password" name="password" type="password" required></ion-input>
    <ion-button class="button" type="submit" expand="full">로그인</ion-button>
  </form>

  <div id='text5' class='text5'>계정이 없으신가요?</div>
  <div id='text6' class='text6'><a routerLink="/regist">가입하기</a></div>
  <div id='text2' class='text2'>또는</div>
  <div id='text3' class='text3'>비밀번호를 잊으셨나요?</div>
  <div id='text4' class='text4'>비밀번호 찾기</div>
  <div id='line1' class='line1'></div>
  <div id='line2' class='line2'></div>
  <div id='title' class='title'>Dog Paw</div>
  <img id="login_dog" class="login_dog" src="assets/login_dog.png" alt="image">
</ion-content>