<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>temperature_result4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
    <div class="line-4"></div>
    <div class="div">!</div>
    <img
      class="dog-8659097-1280-removebg-preview-4"
      src="assets/login_dog.png"
    />
    <div class="div2">
      체온 계산
      <br />
      결과
    </div>
    <div class="rectangle-15"></div>
    <div class="div3">
      적정 체온보다
      <br />
      조금 높아요!
      <br />
    </div>
    <div class="div4">
      수건을 찬물에 적셔
      <br />
      신체 온도를 내려주시는 것이 좋습니다.
      <br />
      주변 실내 온도를 전체적으로
      <br />
      낮춰 주시고 몸을 시원하게
      <br />
      유지해주시는 것이
      <br />
      체온을 내리는데 효과적입니다.
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />
    <div class="div5">우리 아이는</div>

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>  

</ion-content>
