<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bmi_result2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
    <div class="line-4"></div>
    <div class="div">!</div>
    <img
      class="dog-8659097-1280-removebg-preview-4"
      src="assets/login_dog.png"
    />
    <div class="div2">
      비만도 계산
      <br />
      결과
      <br />
      <br />
    </div>
    <div class="rectangle-15"></div>
    <div class="div3">우리 아이는</div>
    <div class="div4">
      조금 더 많은 밥을
      <br />
      줘도 괜찮아요!
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>
</ion-content>
