<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>moment_result1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
    <div class="rectangle"></div>
    <div class="line-4"></div>
    <div class="title">
      <span>
        <span class="title-span">
          운동량 계산
          <br />
          결과
          <br />
        </span>
        <span class="title-span2"><br /></span>
      </span>
    </div>
    <div class="div">!</div>
    <img class="dog" src="assets/login_dog.png" />
    <div class="text-1">
      우리 아이의
      <br />
      1일 권장 운동량은
    </div>
    <div class="result">
      30분 ~ 1시간 정도의 운동이 
      <br />
      권장되는데 쉽게 지치는 만큼
      <br />
      중간 정도로 2~3회
      <br />
      나눠서 하면 좋아요!
    </div>
    <div class="text-2">
      운동량은 개체별 성격, 건강 상태, 나이
      <br />
      등에 따라 달라질 수 있으므로,
      <br />
      이를 고려하여 적절히 조절하는 것이
      <br />
      좋습니다.
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>

  
</ion-content>
