<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>temperature_result5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "main">
    <div class="line-4"></div>
    <div class="div">!</div>
    <img
      class="dog-8659097-1280-removebg-preview-5"
      src="assets/login_dog.png"
    />
    <div class="div2">
      체온 계산
      <br />
      결과
    </div>
    <div class="rectangle-15"></div>
    <div class="div3">우리 아이는</div>
    <div class="line-5"></div>
    <div class="div">!</div>
    <div class="div3">우리 아이는</div>
    <div class="div4">
      체온이
      <br />
      너무 높아요!
      <br />
      가까운 병원에
      <br />
      가야돼요.
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>  

  
</ion-content>
