<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>temperature_result3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="main">
    <div class="line-4"></div>
    <div class="div">!</div>
    <img
      class="dog-8659097-1280-removebg-preview-4"
      src="assets/login_dog.png"
    />
    <div class="div2">
      체온 계산
      <br />
      결과
    </div>
    <div class="rectangle-15"></div>
    <div class="div3">우리 아이는</div>
    <div class="div4">적정 체온이에요!</div>
    <div class="_38-5-39-5">
      <span>
        <span class="_38-5-39-5-span">
          강아지의 적정 체온은
          <br />
        </span>
        <span class="_38-5-39-5-span2">38.5℃ ~ 39.5℃</span>
      </span>
    </div>
    <img class="dog-paw" src="assets/dogPaw.png" />

    <button type="button" class="button-menu" (click)="goToMenuPage()"><img class="img-menu" src="assets/img_menu.png" alt="image"/></button>  

</ion-content>
